[build]
  command = "npm ci && npm run build:netlify"
  publish = "dist/weather-forecast-app-angular-tailwind/browser"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20"
